@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes loadingAnimation {
	0%,
	100% {
		opacity: 0.9;
	}
	50% {
		opacity: 0.7;
	}
}

@layer components {
	.animate-loading {
		animation: loadingAnimation 1200ms ease-in-out infinite;
	}
}
